<header>


<div class="container">
    <div class="collapse" id="exCollapsingNavbar">
      <div class="bg-inverse p-a">
        <h4>Home</h4>
        <span class="text-muted">Topics you need to know</span>
      </div>
    </div>

 <nav class="navbar navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>
</nav>




<h2 class="blog-title">UK Accountant's Notes</h2>
        <p class="lead blog-description">useful stuff on some important topics</p>
      

</div>

<hr>

</header>
